<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--name of directory where uploaded files must be stored-->
    <add key="VintasoftWebImaging_UploadDirectoryName" value="UploadedImageFiles"/>
    <!--name of directory where cached data must be stored-->
    <add key="VintasoftWebImaging_CacheDirectoryName" value="VintasoftCache"/>
    <!--name of directory where cached thumbnails must be stored-->
    <add key="VintasoftWebImaging_CachedThumbnailsDirectoryName" value="Thumbnails"/>
    <!--name of directory where cached image tiles must be stored-->
    <add key="VintasoftWebImaging_CachedImageTilesDirectoryName" value="Tiles"/>
    <!--name of directory where cached annotations must be stored-->
    <add key="VintasoftWebImaging_CachedAnnotationPackagesDirectoryName" value="Annotations"/>
    <!--a value that determines how long, in minutes, cached object will be stored on server-->
    <add key="VintasoftWebImaging_CacheLifeTime" value="10080"/>

  </appSettings>  
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2"/>
    <sessionState timeout="10080" regenerateExpiredSessionId="false" cookieless="UseCookies" cookieName="Asp.NET_SessionId" sessionIDManagerType="AspNetMvcDocumentViewerDemo.MySessionIDManager"/>
    <httpRuntime maxRequestLength="32768"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".emf" mimeType="application/image"/>
      <mimeMap fileExtension=".jls" mimeType="application/image"/>
      <mimeMap fileExtension=".jb2" mimeType="application/image"/>
      <mimeMap fileExtension=".jbig2" mimeType="application/image"/>
      <mimeMap fileExtension=".jp2" mimeType="application/image"/>
      <mimeMap fileExtension=".j2k" mimeType="application/image"/>
      <mimeMap fileExtension=".j2c" mimeType="application/image"/>
      <mimeMap fileExtension=".jpc" mimeType="application/image"/>
      <mimeMap fileExtension=".cr2" mimeType="application/image"/>
      <mimeMap fileExtension=".crw" mimeType="application/image"/>
      <mimeMap fileExtension=".nef" mimeType="application/image"/>
      <mimeMap fileExtension=".nrw" mimeType="application/image"/>
      <mimeMap fileExtension=".dng" mimeType="application/image"/>
      <mimeMap fileExtension=".dcm" mimeType="application/image"/>
      <mimeMap fileExtension=".dic" mimeType="application/image"/>
      <mimeMap fileExtension=".acr" mimeType="application/image"/>
      <mimeMap fileExtension=".tga" mimeType="application/image"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
